.reviews{
    background-color: black;
    color: white;
    height: 17.3cm;
    padding: 4cm;
    text-align: center;
  
}
#ambience{
    font-size: 16px;
}
#irfan{
    font-size: 16px;
}
.reserved{
    background-color: rgb(34, 32, 32);
    width: 20cm;
    height: 1.9cm;
    color: white;
    border-radius: 20px;
   top: 21cm;
    left: 13.5cm;
   position: absolute;
   
}
.fa-quote-left{
    color: brown;
    margin-right: 19cm;
}
.fa-quote-right{
    color: brown;
    margin-left: 17cm;
}

.fa-bars{
    color: bisque;
    font-size:24px;
    margin-right: 0.5cm;
    padding: 0.3cm;
}
#reserve-home{
    font-size: 20px;
    margin-left: 0.5cm;
    text-decoration: none;
    color: white;
}
#reserve-button{
    width: 4cm;
    height: 1.5cm;
    background-color: rgb(100, 97, 97);
    color: white;
    border-radius: 22px;
   margin-top: 0.2cm;
   margin-left: 0.5cm;
   border: none;
}
#ankole-logo{
    width: 5cm;
    height: 5cm;
}
.fa-chevron-left{
    color: #898f9a;
   margin-left: -9%;
   

}
.fa-chevron-right{
    color: #858c99;
    
}
#reserve-button:hover{
    color:gray ;
    background-color: rgb(201, 179, 138);
}
a{
    text-decoration: none;
    color: white;
}
.fa-whatsapp{
    color: white;
    position: absolute;
    bottom: 9%;
    right: 5%;
    border: 1px solid white;
    border-radius: 90px;
    padding: 10px;

 }
 .fa-facebook{
    color: white;
    position: absolute;
    left: 45cm;
    top: 3cm;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 50px;
 }
 .fa-instagram{
    color: white;
    position: absolute;
    left: 42cm;
    top: 3cm;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 30px;
 }
 .material-icons{
    margin-top: 0.5cm;
 }